@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
$psato : 'Source Sans Pro', sans-serif;
*{
    margin:0;
    padding: 0;
}

 body{
     background-color: wheat ;
     
 }

 input{
     margin-bottom: 15px;
     margin-top: 15px;
     border: none; 
     outline: none;
     background: none;
     border-bottom: 2px solid black;
     width: 275px;
     text-align: center;
     height: 50px;
     font-family: $psato;
 }
 select{
     border: none;
     outline: none;
     background-color:rgba(12, 12, 12, 0.555);
     width: 275px;
     text-align: center;
     font-size: 1rem;
     font-family: $psato;
     height: 25px;

 }

 button{
     border:none;
     background-color: none;
     cursor: pointer;
     width: 150px;
     height: 25px;
     outline: none;
 }